body { 
  margin: 0; 
  padding: 0; 
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

.menu-bar {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: white;
  color: black;
  vertical-align: middle;
}

#top {
  top: 0;
  left: 0;
}

#bottom {
  bottom: 0;
  left: 0;
}

#logo {
  position: absolute;
  font-family: "Montserrat", bold;
  color: black;
  font-weight: bolder;
  font-size: 3rem;
  margin-left: 30px;
  margin-top: 17px;
}

.mapboxgl-popup-close-button {
  outline: none;
}

.mapboxgl-popup-content {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  max-width: 150px;
  padding-left: 10px;
  padding-right: 10px;
} 

.search-bar {
  position: absolute;
  right: 100px;
  top: 30px;
}

img {
  height: 13px;
  width: 13px;
}

input {
  color: black;
  outline: none;
  padding: 10px 10px 10px 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  width: 300px;
  margin-bottom: 20px;
}

#violation-info {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  margin-left: 50px;
  margin-top: 35px;
  font-size: 15px;
  width: 95%
}

.red {
  color: #e74c3c;
}